header{display: flex;
     flex-direction: column-reverse;
     justify-items: center;
    }
     

.Titre{
    text-decoration: underline;
    text-align: center;
}

.Logo {width: 100px;
    height: 100px;
}
    
.FondBody{
    background-color: black;
    color: blanchedalmond;
    padding: 1em;
}

.cadre{
    background-color: rgb(146, 50, 50);
    width:  150px;
    height: 150px;
    padding: 10px;
}


.Photo{ 
    width:  150px;
    height: 150px;
     overflow: hidden;
}

.Photo img{width: 100%;}

.flex-photo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.flex-colone{
    display: flex; 
    flex-direction: column;
}

.flex-gauche{
    display: flex;
    justify-content: flex-start;

}

.flex-aligne{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}