h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
.logo {
  display: block;
  height: 200px;
  widht: 10px;
  margin-left: auto;
  margin-right: auto;
}
.background {
  background-color: Azure;
}
.eleve {
  height: 120px;
  widht: 100px;
}
.eleve2 {
  height: 120px;
  widht: 120px;
}
.backgroundX {
  background-color: beige;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  margin: 0 auto;

}
section {
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}
.carte {
  margin: 25px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 200px;
  min-width: 240px;
  cursor: crosshair;
}
@font-face {
  font-family: "Sunset";
  src: url("./Sunset.otf");
}
footer {
  text-align: center;
}
