div {
    margin: 0;
}

body {
    background-color: silver;
    background-image: radial-gradient(circle at 100% 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 0 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 50% 100%, white 10%, silver 10%, silver 23%, white 23%, white 30%, silver 30%, silver 43%, white 43%, white 50%, silver 50%, silver 63%, white 63%, white 71%, transparent 71%, transparent), radial-gradient(circle at 100% 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent), radial-gradient(circle at 0 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent);
    background-size: 100px 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

body>* {
    border: 1px solid black;
}

header {
    color: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

header>a {
    display: flex;
    justify-items: left;
}

header>h1 {
    text-align: center;
    width: inherit;
}

div aside {
    width: 30%;
}

header,
div aside {
    background-color: rgb(169, 170, 233);
}

.hide-sm {
    display: none;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.logo {
    margin-top: 13px;
    margin-left: 13px;
    height: 75px;
    width: 75px;
}

.students {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 70vw;
    height: 65vh;
}

.student {
    width: 50%;
    max-width: 160px;
    height: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.student img {
    height: 72px;
    width: 72px;
}

.student span {
    color: black;
}

.student:hover {
    animation-name: check;
    animation-duration: 1s;
}

@keyframes check {
    from {
        transform: scale(1);
        background-color: rgb(171, 98, 238);
    }
    to {
        transform: scale(1.25);
        background-color: rgb(194, 155, 229);
    }
}

.social-network {
    color: black;
    font-size: 10px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-end;
}

@media only screen and (min-width: 640px) {
    h2 {
        writing-mode: initial;
    }
    #students article {
        min-width: 250px;
    }
    .hide-sm {
        display: initial;
    }
}