#container {
    width: 200px;
    margin: 35%;
    margin-top: 5%;
}

form {
    width: 30%;
    padding: 40px;
    padding-left: 10%;
    margin-left: 30%;
    margin-right: 25%;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#container h1 {
    width: 15%;
    margin: 0 auto;
    padding-bottom: 20px;
}

input[type=text],
input[type=password],
input[type=email] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #d14bb0;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=submit]:hover {
    background-color: white;
    color: #8e04a0;
    border: 1px solid #660566;
}