
		/**body et header**/
body{
	background-color: #2978AA;
}
header{
	background-color: #28767F;
	width: 100%;
    height: 200px;
}
img.logo, h1.titre{
	display: inline-block;
}
img.logo{
	width: 10%;
}
h1.titre{
	margin-left: 350px;
}
header a{
	text-decoration: none;
	color: #8D9292;
	margin-left: 350px;
	background-color: #28767F;
	padding: 1em;
}
header a:hover{
	background-color: #61AA88;
	color: #28767F;
}
div#content div.centerblock{
	width: 10%;
	margin-left: 25%;
	margin-top: 20px;
	background-color: #7CE8F3;
	padding: 20px;
	display: inline-block;
}
div#content div.centerblock:hover{
	background-color: #4E87AC;
}
div#content div.centerblock p, h3{
	text-align: center;
}
@media only screen and (min-width: 640px){
    #content div.centerblock{
        min-width: 250px;
    }
    .titre, img.logo{
        display: initial;
    }
}

		/**formulaires**/

header a{
	text-decoration: none;
	color: #8D9292;
	margin-left: 350px;
	background-color: #28767F;
	padding: 1em;
}
header a:hover{
	background-color: #61AA88;
	color: #28767F;
}
h2{
	margin-left: 550px;
	margin-bottom: 20px;
}
form{
	margin-top: 10px;
	margin-left: 550px;
}

@media only screen and (min-width: 640px){
    #content div.centerblock{
        min-width: 250px;
    }
    .titre, img.logo{
        display: initial;
    }
}