body{
    background-image: url(https://wallpapercave.com/wp/wp4932383.jpg);
}

header{
    background-image: url(https://wallpapercave.com/wp/wp4932383.jpg);
    border: 4px double;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2%;
}

footer{
    background-image: url(https://wallpapercave.com/wp/wp4932383.jpg);
    border: 4px double;
    margin: 2%;
    display: flex;
    justify-content: center;
}

img{
    width:10vw;
    clip-path:ellipse(50% 50%);
}

.title{
    background-image: url(https://wallpapercave.com/wp/wp4932383.jpg);
    border: 4px double;
    margin: 2%;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-content: center;
}

.student-case{
    display: flex;
    /*flex-direction: column;*/
    margin: 1%;
    border: 2px dashed;
    background-color: #f1ede3;
}

.form-container{
    margin: 1%;
    border: 2px dashed;
    background-color: #f1ede3;
}

.song{
    display: flex;
    justify-content: center;
    margin: 2%;
}
.logo{
    width:5vw;
}