.page{
  background-color: #B5B5B5;
}
.haut-page {
  display: grid;
  grid-template-columns: 10% 90%;
  margin: 10px;
  border-bottom:1px solid black;
  border-width: medium;
}

h1 {
  text-align: center;
  margin: 10vh;

}

body {
    margin: 2px;
    font-family: 'Computeur Modern' , Arial, sans-serif;
}

.trombi {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 10px;
}


.col{
  display: grid;
  grid-template-rows:20% 20% 20% 20% 20%;

}


.eleve {
  border-color: black;
  display: grid;
  grid-template-rows: 70% 20% 10%;
  border:1px solid black;
  border-width: medium;
}

.photo {
  text-align: center;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display: block;
  overflow: hidden;
  border-radius: 1000px 1000px 1000px 1000px;
}

.name {
  text-align: left;
  font-weight: bolder;

}

.slogan {
   font-style: italic;
   font-weight: bold;
   text-align: center;
}
