body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 300px;
}

.hide-sm {
    display: none;
}


/* En-tête */

.menu {
    margin: 0.5em;
    display: flex;
    justify-content: center;
}

.nav-button {
    padding: 0.5em;
    margin-right: 0.5em;
    font-weight: bold;
    font-size: 0.5em;
}

.banniere {
    display: grid;
    grid-template-columns: 10% auto;
    text-align: center;
    padding: 0.5em;
    margin: 0.5em;
}

.banniere img {
    height: 5em;
}

.banniere h1 {
    font-size: 1em;
}


/* Trombinoscope */

.trombi {
    display: flex;
    flex-wrap: wrap;
}

.trombi article {
    width: 50%;
}

div.article {
    margin: 3%;
    display: grid;
}

div.photo {
    justify-self: center;
}

.trombi img {
    max-width: 100%;
}

.trombi h3,
.trombi h4 {
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
    font-size: 0.7em;
}

.trombi p.presentation {
    margin: 1em;
    font-style: italic;
    text-align: justify;
}

.trombi a.button {
    margin: 0em;
    justify-self: center;
}

.trombi h4 {
    border: 3px solid rgb(120, 197, 197);
}


/* Couleurs */

.bg-motif {
    background-color: rgb(120, 197, 197);
    background-image: linear-gradient(30deg, rgb(216, 245, 245) 12%, transparent 12.5%, transparent 87%, rgb(216, 245, 245) 87.5%, rgb(216, 245, 245)), linear-gradient(150deg, rgb(216, 245, 245) 12%, transparent 12.5%, transparent 87%, rgb(216, 245, 245) 87.5%, rgb(216, 245, 245)), linear-gradient(30deg, rgb(216, 245, 245) 12%, transparent 12.5%, transparent 87%, rgb(216, 245, 245) 87.5%, rgb(216, 245, 245)), linear-gradient(150deg, rgb(216, 245, 245) 12%, transparent 12.5%, transparent 87%, rgb(216, 245, 245) 87.5%, rgb(216, 245, 245)), linear-gradient(60deg, rgb(161, 221, 221) 25%, transparent 25.5%, transparent 75%, rgb(161, 221, 221) 75%, rgb(161, 221, 221)), linear-gradient(60deg, rgb(161, 221, 221) 25%, transparent 25.5%, transparent 75%, rgb(161, 221, 221) 75%, rgb(161, 221, 221));
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.bg-blanc-contour {
    background-color: white;
    border: 3px solid darkcyan;
}

.bg-cyan {
    background-color: rgb(120, 197, 197);
}

.bg-darkcyan {
    background-color: darkcyan;
    color: white;
}

.txt-darkcyan {
    color: darkcyan;
}

a.button :hover {
    border: 3px solid orange;
}


/* Taille de l'écran */

@media only screen and (min-width: 640px) {
    .hide-sm {
        display: initial;
    }
    .nav-button {
        font-size: 1em;
    }
    .banniere img {
        height: 10em;
    }
    .banniere h1 {
        font-size: 2em;
    }
    .trombi article {
        width: 33%;
    }
    .trombi h3,
    .trombi h4 {
        font-size: 1em;
    }
}

@media only screen and (min-width: 850px) {
    .trombi article {
        width: 25%;
    }
}

@media only screen and (min-width: 1000px) {
    .trombi article {
        width: 20%;
    }
}