.gros-fond {
    background-image: url(https://www.amongusavatarmaker.com/Assets/BG/SPACE.png);
    width: 100vw;
    height: 100vh;
}
.titre {
    font-size: 80px;
    text-align: center;
    margin: 0.2em;
}
.ligne {
    width: 2450px;
    height: 0px;
}
.logo {
    margin-right:80%;
}
.eleve{
  display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.eleve > article{
  padding: 20px 0px;
  border: 1px dashed black;
}
img{
width: 240px
}

body{
text-align: center;
}
