body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', sans-serif;
}

.logo img {
	margin:0 auto;
	display: block;
}

.citation {
	text-align: center;
}

.trombi {
	display: grid;
	grid-template-columns: 50% 50%;
}

.colonne1 {
	display: grid;
	grid-template-rows: 20% 20% 20% 20% 20%;
	border-spacing: 5px;
}

.colonne2 {
	display: grid;
	grid-template-rows: 20% 20% 20% 20% 20%;
	border-spacing: 5px;
}

.dupond {	
	text-align: center;
}

.dupont {
	text-align: center;
}

.tintin {
	text-align: center;
}

.haddock {
	text-align: center;
}

.tournesol {
	text-align: center;
}
	
.castafiore {
	text-align: center;
}

.bergamotte {
	text-align: center;
}

.muller {
	text-align: center;
}

.rastapopoulos {
	text-align: center;
}

.alcazar {
	text-align: center;
}

.titre {
	text-align: center;
	margin-bottom: 1em;
}


.footer {
	text-align:center;
    bottom:0;
    width:100%;
    display:inline-block;
    vertical-align:top;
    font-size:40px;
    margin-bottom: 1em;
}


.contact {
	margin-left: 2em;
	margin-bottom: 1em;
}

.fa-paypal {
	margin-left:5px;
}
