    /* index.html */
:root {
    --bg-dark-color: auto;
}
#sidebar {float:left; width:200px; height: 250px; border: 1px;}
header{
    padding: 3em 3;
    background-color: var(--bg-dark-color);
    text-align: center;
}
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}
aside {
    padding: 4em;
}
section {
    height: 100%;
    width: 60%;
    flex-wrap: wrap;
}
.switcheuh {
    display: flex;
    flex-direction: column;

}
h2 {
    font-style: italic;
    text-align: center;
}
h3 {
    color: brown;
}
#leszamis {
    display: flex;
    flex-direction: ;
    align-items: center;
    cursor: pointer;
    max-height: 225px;
    min-width: 200px;
    justify-content: center;
    text-align: center;
}
}
#border {
    width: 350px;
    text-align: center;
}
.bg-pasdark {
    background-color: var(--bg-dark-color);
}
body {
    background-color: aquamarine;
}
.grid-page {
    display: column;
    align-items: center;
}
.grid-container {
    display: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
    /* responsive-mobile */

@media (min-width:480px) and (max-width:780px) {

}
@media (min-width:781px) and (max-width:979px) {
    .switcheuh (float: none;)
    #border (float: none;)   
}
    /* formulaire */

label {
    display: column;
    font: 1rem 'Fira Sans', sans-serif;
}   
input,
label {
    margin: .0rem O;
}
#form {
    margin: 5%;
}