form{
    max-width: 50%;
}
form>label,
form>button{
    margin-top: 2em;
}
form>button:hover{cursor: pointer;}
textarea{
    min-height: 20em;
    max-height: 20em;
    max-width: 100%;
    min-width: 100%;
    padding: 1em;
}