section>div{
    margin: 2.5em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    max-height: 225px;
    min-width: 200px;
}
section>div h3, section>div h4{text-align: center;margin: 0;}
section>div h4{color: gray;font-style: italic;}
section>div img{
    width: 8em;
    height: 8em;
    border-radius: 50%;
}
section>div ul{
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
}
section>div li{
    margin: 0 5px;
    color: #7f8c8d;
    font-size: 17px;
}

section>div li:hover{
    transform: rotate(360deg);
    font-size: 18px;
    transition: 0.75s;
}
section>div:hover{
    animation-name: check;
    animation-duration: 2s;
}

audio{
    display: none;
}

@keyframes check {
    0%, 100% {margin: 25px 35px 25px 35px;}
    20% {margin: 35px 35px 15px 35px;}
    40% {margin: 25px 35px 0px 35px;}
    60% {margin: 35px 35px 15px 35px;}
    80% {margin: 25px 35px 0px 35px;}
}