#menuIcon{
    position: fixed;
    top: 50px;
    left: 50px;
    cursor: pointer;
}
#menuIcon>div{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: background-color .9s;
}
#slidebar.open #menuIcon>div{
    background-color: white;
}

#slidebar{
    position: fixed;
    left: 0;
    height: 100vh;
    width: 25em;
    margin-left: -25em;
    padding-top: 10em;
    background-color: rgb(30, 39, 46);
    text-align: center;
    transition: margin .8s;

    z-index: 99;
}
#slidebar.open{margin-left: 0;}

#slidebar ul{
    margin: 0;
    padding: 0;
}
#slidebar ul li{
    list-style: none;
    padding: 0.5em 0;
}
#slidebar ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.8em;
    transition: color .3s;
}
#slidebar ul li:hover a{
    color: #e74c3c;
}