body{
    margin: 0;
    min-height: 100vh;
    width: 100%;
    background-color: #f5f6fa;
}
@font-face {
    font-family: synetactile;
    src: url("./../font/SyneTactile-Regular.ttf");
}

.fl{display: flex;}
.r{flex-direction: row;}
.c{flex-direction: column;}
.jcc{justify-content: center;}
.jcsb{justify-content: space-between;}
.jcsa{justify-content: space-around;}
.aic{align-items: center;}

body>h1, body>h2{
    font-family: synetactile;
}
body>h2{
    margin-top: 0;
    color: gray;
}

section, form{
    height: 100%;
    width: 60%;
    flex-wrap: wrap;
}