header{
    background-color: navy;
    display: flex;
    justify-content: space-between;
    height: 120px;
}

.img{
    width: 120px;
    height: 120px;
    margin-left: 1em;
}

h1{
    text-align: center;
    color: white;
    font-family: 'OCR A Std', monospace;
    font-size: 1.7em;
}

h2{
    text-align: center;
    font-family: 'OCR A Std', monospace;
    font-size: 2.5em;
    width: 100%;
}

h3{
    text-align: center;
    font-family: 'OCR A Std', monospace;
    font-size: 0.83em
}

.arrange{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.case{
    margin-bottom: 2em;
}