 :root{

 }

body{
    display: grid;
    grid-template-rows: 10em auto;
    margin: 0;
}

.teteDePage {
    background-color: steelblue;
    display:flex;
    flex-direction:row;
    align-content: center;
}

.logo{
    width: 8em;
    margin-left: 1em;
    margin-top: 1em;
}

.descriptif{
    position: relative;
    margin-bottom: 3em;
    left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

 .photo{
     width: 8em;
 }
.basDePage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fffcf2;
}

.eleve{
        margin: 3em;
}