
html {
    margin:0;
    padding:0;
    background-image : url(https://wonderfulengineering.com/wp-content/uploads/2014/09/white-wallpapers-9.jpg);
    background-color: black;
    background-size: cover;

}

header{
    padding: 1em;
    text-align: center;

}
body {
    font-family: 'Courier', 'monospace', Courier, monospace;
    background-attachment:fixed;
    text-align: center;

}

.boiboites {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.boiboites > div {
  margin: 2em

}
h2:hover {
  text-decoration: underline;
}
img:hover {

transform: rotate(360deg);

}


img{
  width:150px;
  transition: 0.8s
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.grid-container > div{
  padding: 20px 0px;
  border: 1px dashed black;
}

#students article {
    min-width: 50px;
    text-align: center;
    border: 1px solid var(--bg-dark-color);
    margin: 0.5em;

}

}
#students .label {
    font-size: large;
}
