header{
    padding: 1em 0;
    background-color: rgb(223, 223, 223);
    text-align: center;
}
body{
    margin: 0mm;
}
section{
    margin: 2em;
}
footer{
    background-color: rgb(223, 223, 223);
}
.grid-page{
    display: grid;
    grid-template-columns: auto;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    column-gap: 6%;
}
.footer-right{
    text-align: right;
    margin-right: 1em;
}
.footer-left{
    text-align: left;
    margin-left: 2em;
    margin-top: 2em;
}